<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/static/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/static/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/static/h-ui.admin/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/static/h-ui.admin/css/style.css}"/>
    <!--/meta 作为公共模版分离出去-->

    <title>收费类型列表 </title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<!--_header 作为公共模版分离出去-->
<div th:include="manager/public/_header::header">

</div>
<div th:replace="manager/public/_menu::pms_menu">

</div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
    <nav class="breadcrumb"><a href="index.html"><i class="Hui-iconfont">&#xe67f;</i> 首页</a>
        <span class="c-gray en">&gt;</span>
        收费类型管理
        <span class="c-gray en">&gt;</span>
        收费类型列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                  href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <form action="/admin/feeType/list" method="post">
                <div class="text-c">
                    <input type="text" class="input-text" style="width:120px" placeholder="名称" id="name"
                           name="name">
                    <input type="text" class="input-text" style="width:120px" placeholder="备注" id="remark"
                           name="remark">
                <span class="select-box" style="width:75px">
				    <select class="select" name="sort" size="1">
					    <option value="0" selected>倒序</option>
					    <option value="1">正序</option>
				    </select>
				</span>
                    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索
                    </button>
                </div>
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l"> <a href="javascript:;" onclick="admin_add('添加收费类型','/admin/feeType/doAdd','800','500')"
                                    class="btn btn-primary radius"><i
                        class="Hui-iconfont">&#xe600;</i> 添加收费类型</a> </span>
                <span class="r">共有数据：<strong>54</strong> 条</span>
            </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="9">收费类型列表</th>
                </tr>
                <tr class="text-c">
                    <th width="40">编号</th>
                    <th width="150">类型名</th>
                    <th width="90">备注</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <tbody>
                <!--@thymesVar id="empList" type="List<com.wyz.pms.core.pojo.Employee>"-->
                <tr th:each="feeType:${feeTypeList}" class="text-c">
                    <td th:text="${feeType.id}"></td>
                    <td th:text="${feeType.name}"></td>
                    <td th:text="${feeType.remark}"></td>
                    <td class="td-manage"><a
                            title="编辑" href="javascript:;"
                            th:onclick="|javascript:admin_edit('收费类型编辑','/admin/feeType/doUpdate?id=${feeType.id}','1','800','500')|"
                            class="ml-5"
                            style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                        <a title="删除" href="javascript:;" th:onclick="|javascript:admin_del(this,'${feeType.id}')|"
                           class="ml-5" style="text-decoration:none">
                            <i
                                    class="Hui-iconfont">&#xe6e2;</i></a></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/static/assets/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/static/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/static/h-ui.admin/js/H-ui.admin.page.js}"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/static/assets/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/lib/datatables/1.10.15/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/lib/laypage/1.2/laypage.js}"></script>


<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    /*管理员-增加*/
    function admin_add(title, url, w, h) {
        layer_show(title, url, w, h);

    }

    /*管理员-删除*/
    function admin_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //此处请求后台程序，下方是成功后的前台处理……
            $.ajax({
                type: "POST",
                url: "http://localhost:8380/admin/feeType/delete?id=" + id,
                data: null,
                success: function (result) {
                    if (result.code == 200) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除! code=' + result.code, {icon: 1, time: 1000});
                    } else {
                        layer.msg('删除失败! code=' + result.code, {icon: 1, time: 1000});
                    }
                },
                error: function (e) {
                    layer.msg('删除!失败 m=' + e.code, {icon: 1, time: 1000});
                }
            });
        });
    }

    /*管理员-编辑*/
    function admin_edit(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>