<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/static/assets/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/static/assets/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/static/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/static/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/static/h-ui.admin/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/static/h-ui.admin/css/style.css}"/>
    <!--/meta 作为公共模版分离出去-->

    <title>修改收费</title>
</head>
<body>
<article class="cl pd-20">
    <form class="form form-horizontal" id="form-admin-add">
        <input type="hidden" name="id" id="id" th:field="${fee.id}"/>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>收费类型：</label>
            <input type="hidden" id="feeTypeId1" name="feeTypeId1" th:field="${fee.feeTypeId}">
            <div class="formControls col-xs-8 col-sm-9">
                  <span class="select-box" style="width:160px">
                        <select id="feeTypeId" class="select" name="feeTypeId" size="1">
                            <option th:each="feeType:${feeTypeList}" th:value="${feeType.id}" th:text="${feeType.name}"></option>
                        </select>
                  </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>金额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:field="${fee.money}" placeholder="金额" id="money" name="money">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>支付方式：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input th:checked="${fee.method} eq '支付宝'" name="method" type="radio" id="method1" value="支付宝">
                    <label for="sex-1">支付宝</label>
                </div>
                <div class="radio-box">
                    <input th:checked="${fee.method} eq '微信'" type="radio" id="method2" name="method" value="微信">
                    <label for="sex-2">微信</label>
                </div>
                <div class="radio-box">
                    <input th:checked="${fee.method} eq '银行卡'" type="radio" id="method3" name="method" value="银行卡">
                    <label for="sex-2">银行卡</label>
                </div>
                <div class="radio-box">
                    <input th:checked="${fee.method} eq '现金'" type="radio" id="method4" name="method" value="现金">
                    <label for="sex-2">现金</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input th:checked="${fee.status} eq '1'" name="status" type="radio" id="sex-1" value="1">
                    <label for="sex-1">未缴费</label>
                </div>
                <div class="radio-box">
                    <input th:checked="${fee.status} eq '2'" type="radio" id="sex-2" name="status" value="2">
                    <label for="sex-2">已缴费</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>业主编号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:field="${fee.ownerId}" placeholder="业主编号" id="ownerId" name="ownerId" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>业主名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:field="${fee.ownerName}" placeholder="业主名" id="ownerName" name="ownerName" disabled>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">操作员编号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:field="${fee.operatorId}" placeholder="操作员编号" id="operatorId" name="operatorId">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">操作员：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:field="${fee.operatorName}" placeholder="操作员" id="operatorName" name="operatorName" disabled>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" onclick="update()" type="button"
                       value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/static/assets/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/static/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/static/h-ui.admin/js/H-ui.admin.page.js}"></script>

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/static/assets/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript">
    function update() {
        //得到表单数据，序列化表单
        var owner = $("#form-admin-add").serialize();
        //使用ajax post提交方式 ，默认json数据/*[[@{/index/ajaxtest}]]*/
        $.post("http://localhost:8380/admin/fee/update", owner, function (data) {
            //回调回来的数据data
            if (data.code == '200') {
                alert('响应码：' + data.code + " ,消息：" + data.message);
                var index = parent.layer.getFrameIndex(window.name);
                //刷新父窗口
                window.parent.location.reload();
                //关闭弹框
                parent.layer.close(index);
            } else {
                alert('添加失败！！！！,响应码：' + data.code + " ,消息：" + data.message);
            }
        });
    }
</script>
<script type="text/javascript" th:inline="javascript">
    $().ready(function() {
        var single = document.getElementById("feeTypeId1").value;
        $("#feeTypeId option[value= " + single + "]").prop("selected",true);
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>