<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="navbar-wrapper">
    <div class="navbar navbar-black">
        <div class="container cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/owner/index">小区物业系统业主端</a>
            <nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
                <ul class="cl">
                    <li class="current"></li>
                    <li></li>
                    <li class="dropDown dropDown_hover"><a href="#" class="dropDown_A"><i
                            class="Hui-iconfont">&#xe665;</i> 查询管理</a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a><span th:onclick="|javascript:myInfo('个人信息','/owner/base/myInfo/${session.owner.getId()}','500','300')|"><i class="Hui-iconfont">&#xe62c;</i> 个人信息</span></a></li>
                            <li><a><span th:onclick="|javascript:myInfo('所有资产','/owner/base/myAsset/${session.owner.getId()}','800','500')|"><i class="Hui-iconfont">&#xe625;</i> 所有资产</span></a></li>
                            <li><a><span th:onclick="|javascript:myInfo('缴费信息','/owner/base/myFee/${session.owner.getId()}','1000','600')|"><i class="Hui-iconfont">&#xe63a;</i> 缴费信息</span></a></li>
                        </ul>
                    </li>
                    <li class="dropDown dropDown_hover"><a href="#" class="dropDown_A"><i
                            class="Hui-iconfont">&#xe63c;</i> 维修管理</a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a th:href="@{'/owner/repair/doList/'+${session.owner.getId()}}"><i class="Hui-iconfont">&#xe687;</i> 维修列表</a></li>
                        </ul>
                    </li>
                    <li><a><span th:onclick="|javascript:myInfo('修改密码','/owner/base/doUpdatePassword/${session.owner.getId()}','600','400')|"><i class="Hui-iconfont">&#xe63f;</i> 修改密码</span></a></li>
                </ul>
            </nav>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li>业主</li>
                    <li class="dropDown dropDown_hover"><a class="dropDown_A"><span  th:text="${session.owner.getName()}"></span><i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="/logout">退出</a></li>
                        </ul>
                    </li>
                    <li id="Hui-skin" class="dropDown right dropDown_hover"><a href="javascript:;" class="dropDown_A"
                                                                               title="换肤"><i class="Hui-iconfont"
                                                                                             style="font-size:18px">&#xe62a;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
                            <li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
                            <li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
                            <li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
                            <li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
                            <li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

</body>
</html>
